<div class="user-details">
    <h1> Experienced Google-er </h1>
</div>
<div class="user">
    <div class="tech">
        <h2>Front-end</h2>
        <i class="devicon-vuejs-plain-wordmark colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
    </div>
    <div class="tech">
        <h2>Back-end</h2>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-gradle-plain colored"></i>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-postgresql-plain-wordmark colored"></i>
        <i class="devicon-docker-plain-wordmark colored"></i>
        <i class="devicon-amazonwebservices-plain colored"></i>
    </div>
</div>
